.notfound {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: sans-serif;
  }
  
  .notfound h1 {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  .notfound p {
    font-size: 1.2rem;
    color: gray;
  }
  

  .home-btn {
    margin-top: 20px;
    padding: 10px 18px;
    border-radius: 20px;
    background: black;
    color: white;
    text-decoration: none;
  }
  